apiVersion: apps/v1
kind: Deployment
metadata:
  name: flux-nginx
  labels:
    app: flux-nginx
spec:
  replicas: 3
  selector:
    matchLabels:
      app: flux-nginx
  template:
    metadata:
      labels:
        app: flux-nginx
    spec:
      containers:
        - name: nginx
          image: nginx:1.27-alpine
          ports:
            - containerPort: 80
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 15
            periodSeconds: 20
